[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MicrobTiSDA"]
	path = MicrobTiSDA
	url = https://github.com/lishijiagg/microbtisda
